
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #404040;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

h1{
    font-family: "Kanit", sans-serif;
    font-size: 32px;
}

header{
    background-color: cadetblue;
    color: #f8f8f8;
    text-align: center;
    margin: auto;
    
}

header img{
    max-width: 100px;
    margin: 16px;
}

.links a{
    text-decoration: none;
    color: #f8f8f8;
    margin-right: 10px;
}

.principal{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    
}

.workshop-image img{
    max-width: 600px;
}

section{
    padding: 20px 0px;
}

.palestrante{
    display: flex;
    align-items: center;
    background-color: #202121;
    text-align: center;
    padding: 40px;
}
.title{
    font-size: 14px;
    font-family: cursive;
}

.formContainer {
    max-width: 300px;
    background-color: #f8f8f8bb;
    float: right;
    padding: 20px;
    font-family: "Inter", sans-serif;
}
.mb{
    margin-bottom: 15px;
}

h2{
    font-size: 16px;
}

input, select, button{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;  
}

button{
    color: #f8f8f8;
    background-color: cadetblue;
    font-weight: bold;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.palestrante h3, p{
    font-family: "Inter", sans-serif;
}

button:hover{
    background-color: #FF5733;
}

.picture{
    width: 400px;
}
.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3{
    margin-bottom: 20px;
}

footer{
    display: flex;
    align-items: center;
    color: #f8f8f8;
    padding: 15px;
    
}
